* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  transition: 0.3s;
}

body {
  padding: 20px;
  background: #f0f0f0;
  margin: 0;
}

header,
main,
.hotel-card {
  border-radius: 12px;
  padding: 20px;
  border: 1px solid #ccc;
}

header {
  background: lightblue;
  border: 2px solid rgb(34, 28, 215);
  text-align: center;
}

main {
  background: white;
  margin-top: 20px;
}

.hotel-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.hotel-card {
  flex: 1;
  min-width: 250px;
  background: #afafaf;
  border-color: black;
}

.hotel-card:hover {
  transform: scale(1.05);
  background: #d0d0d0;
}

.book-button,
.submit-button,
input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.book-button,
.submit-button {
  display: inline-block;
  background: rgb(34, 28, 215);
  color: white;
  text-decoration: none;
}

.book-button:hover,
.submit-button:hover {
  background: #555;
}

input {
  display: block;
  width: 100%;
  max-width: 300px;
  margin-bottom: 15px;
}

footer {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
}
